<!-- This Component is the Landing Page -->

<div class="jumbotron">
    <h3 class="h3-responsive">Welcome {{ passenger?.passenger_name }}</h3>
    <hr class="my-2">
    <!--Panel-->
    <div class="card">
        <h3 class="card-header primary-color white-text">Account Details</h3>
        <div class="card-body">
            <div class="row">
                    <h4 class="card-title">Account Balance : Rs.{{ passenger?.passenger_card.card_balance }}</h4>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <qr-code [value]="userId" [size]="200"></qr-code>
            </div>
        </div>

        <div>
            
        </div>
    </div>
    <!--/.Panel-->
    <br>
    <!--Panel-->
    <div class="card">
        <h3 class="card-header primary-color white-text">Top Up Account</h3>
        <div class="card-body center-elements">
            <button type="button" class="btn btn-info waves-light" (click)="openModel(basicModal, 5000)" mdbRippleRadius>Rs. 5000</button>
            <button type="button" class="btn btn-info waves-light" (click)="openModel(basicModal, 1000)" mdbRippleRadius>Rs. 1000</button>
            <button type="button" class="btn btn-info waves-light" (click)="openModel(basicModal, 500)" mdbRippleRadius>Rs. 500</button>
            <button type="button" class="btn btn-info waves-light" (click)="openModel(basicModal, 100)" mdbRippleRadius>Rs. 100</button>
            <button type="button" class="btn btn-info waves-light" (click)="openModel(basicModal, 50)" mdbRippleRadius>Rs. 50</button>
            <button type="button" class="btn btn-info waves-light" (click)="openModel(basicModal2, 0)" mdbRippleRadius>Custom</button>
            <br>
            <br>
        </div>
    </div>
    <!--/.Panel-->
    <br>
    <div class="center-elements">
        <button type="button" class="btn btn-success  waves-light" mdbRippleRadius (click)="ejectCard()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Eject Card</button>
            
    </div>
</div>

<div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Confirm</h4>
            </div>
            <div class="modal-body">
                <div class="row center-elements">
                    Are you sure to pay this amount?
                    <br>
                    <br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning relative waves-light" (click)="closeModel(basicModal)" mdbRippleRadius>Close</button>
                <button type="button" class="btn btn-success relative waves-light" (click)="confirm(basicModal)" mdbRippleRadius>Confirm</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #basicModal2="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Select Payment Method</h4>
            </div>
            <div class="modal-body">
                <!-- <mat-form-field style="width:75%;"> -->
                    <input type="number" placeholder="Amount" #customAmount  required>
                <!-- </mat-form-field> -->
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning relative waves-light" (click)="closeModel(basicModal2)" mdbRippleRadius>Close</button>
                <button type="button" class="btn btn-success relative waves-light" (click)="add(basicModal2, customAmount)" mdbRippleRadius>Add</button>
            </div>
        </div>
    </div>
</div>