<div class="jumbotron">
  <h3 class="h3-responsive">
    <i class="fa fa-credit-card-alt" aria-hidden="true" (click)="toggleView()"></i> New Card Registration</h3>
  <hr class="my-2">
  <!-- Start of Card Registration -->
  <mat-horizontal-stepper >
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" >
        <ng-template matStepLabel>Fill Person Details</ng-template>
        <mat-form-field style="width:50%;">
          <input matInput placeholder="Name" formControlName="nameCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field style="width:50%;">
          <input matInput placeholder="Email" formControlName="nameCtrl" required >
        </mat-form-field>
        <br>
        <mat-form-field style="width:50%;">
          <input matInput placeholder="National Identification Number" formControlName="nameCtrl" required>
        </mat-form-field>
        <mat-form-field style="width:50%;">
          <input matInput placeholder="Phone Number" formControlName="nameCtrl" required>
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Choose Card Type</ng-template>
        <div class="row">
          <!--New User Card-->
    <div class="col-md-4 center-elements" >
      <div class="card card-dark">

        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="http://dreamtravelssrilanka.com/images/dream-travels-sri-lanka-image-slide-03.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Regular Card</h4>
          <!--Text-->
          <p class="card-text">Already a Permanent Citizen of Sri Lanka, then this choice is for you</p>
          <a class="btn btn-indigo waves-light" mdbRippleRadius><i class="fa fa-check" aria-hidden="true"></i> &nbsp;Regular Card</a>
        </div>
      </div>
    </div>
    <!--New User Card-->

     <!--New User Card-->
     <div class="col-md-4 center-elements">
      <div class="card card-dark">

        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://travel.gc.ca/vt/images/promo/travel-insurance-bag.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Travel Card</h4>
          <!--Text-->
          <p class="card-text">Visiting Sri Lanka , Then this choice is for you.This card expires within 7 days</p>
          <a class="btn btn-indigo waves-light" mdbRippleRadius><i class="fa fa-check" aria-hidden="true"></i> &nbsp;Travel Card</a>
        </div>
      </div>
    </div>
    <!--New User Card-->
        </div>
      </form>
      <br>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup" >
        <ng-template matStepLabel>Top Up Your Account</ng-template>
        <mat-form-field>
          <mat-select placeholder="Payment Method">
            <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.value">
              {{ paymentMethod.Name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field style="width:20.5%;">
          <input matInput placeholder="Credit Card Number" formControlName="nameCtrl" required >
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Expiry Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field style="width:20.5%;">
          <input matInput placeholder="CVC Number" formControlName="nameCtrl" required>
        </mat-form-field>
        <div>
            <mat-slide-toggle>Enable Auto Topup</mat-slide-toggle>
            <br>
            <br>
          <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finish</ng-template>
      <div class="col-md-4 center-elements">
          <div class="card card-dark">
    
            <!--Card image-->
            <div class="view hm-white-slight waves-light" mdbRippleRadius>
              <img src="https://travel.gc.ca/vt/images/promo/travel-insurance-bag.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
              <a>
                <div class="mask"></div>
              </a>
            </div>
    
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card Setup Complete</h4>
              <!--Text-->
              <p class="card-text">Your Travel Card is now successfull. You can use the travel card to travel around the country</p>
              <a class="btn btn-indigo waves-light" mdbRippleRadius><i class="fa fa-check" aria-hidden="true"></i> &nbsp;Finish</a>
            </div>
          </div>
        </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>