<div class="jumbotron">
    <h3 class="h3-responsive"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> New Card Registration</h3>
    <hr class="my-2">
    <br>
    <!-- Login form -->
    <div class="row">
      <!-- User Details -->
      <div class="col-md-6" *ngIf="false">
          <form>
              <div class="md-form">
                  <i class="fa fa-user prefix grey-text"></i>
                  <input type="text" id="defaultForm-email" class="form-control" mdbActive>
                  <label for="defaultForm-email">Name</label>
              </div>
          
              <div class="md-form">
                  <i class="fa fa-envelope prefix grey-text"></i>
                  <input type="text" id="defaultForm-pass" class="form-control" mdbActive>
                  <label for="defaultForm-pass">Email</label>
              </div>

              <div class="md-form">
                  <i class="fa fa-id-card-o prefix grey-text"></i>
                  <input type="text" id="defaultForm-pass" class="form-control" mdbActive>
                  <label for="defaultForm-pass">National Identification Number</label>
              </div>

              <div class="md-form">
                  <i class="fa fa-fax prefix grey-text"></i>
                  <input type="text" id="defaultForm-pass" class="form-control" mdbActive>
                  <label for="defaultForm-pass">Phone Number</label>
              </div>
          
              <div>
                  <button class="btn btn-primary  waves-light" mdbRippleRadius><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; Next</button>
              </div>
          </form>
      </div>
      <!-- User Details -->

      <!--New Ticket Card-->
    <div class="col-md-4">
        <div class="card">
  
          <!--Card image-->
          <div class="view hm-white-slight waves-light" mdbRippleRadius>
            <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
            <a>
              <div class="mask"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Regular Card</h4>
            <!--Text-->
            <p class="card-text">
              Just need a Ticket for quick ride. It's also possible
              <br>
              <br>
              <br>
            </p>
            <a class="btn btn-indigo waves-light" mdbRippleRadius><i class="fa fa-file-o" aria-hidden="true"></i> &nbsp;New Ticket</a>
          </div>
        </div>
      </div>
      <!--New Ticket Card-->
      <!--New Ticket Card-->
    <div class="col-md-4">
        <div class="card">
  
          <!--Card image-->
          <div class="view hm-white-slight waves-light" mdbRippleRadius>
            <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
            <a>
              <div class="mask"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Get a New Ticket</h4>
            <!--Text-->
            <p class="card-text">
              Just need a Ticket for quick ride. It's also possible
              <br>
              <br>
              <br>
            </p>
            <a class="btn btn-indigo waves-light" mdbRippleRadius><i class="fa fa-file-o" aria-hidden="true"></i> &nbsp;New Ticket</a>
          </div>
        </div>
      </div>
      <!--New Ticket Card-->
    </div>
</div>